# Git
.git
.gitignore

# Caché de Python y entornos
__pycache__/
*.py[cod]
*$.py.class
.venv/
env/
venv/

# Carpetas de experimentación y datos pesados (NO van a producción)
data/
notebooks/
tests/

# Archivos de configuración local
prompt_semilla.md
estructura_proyecto.txt
pyproject_toml_to_text.txt
poetry.lock
pyproject.toml