# Datos
data/
*.csv
*.parquet

# Modelos carpetas
model/
src/models

# Modelos locales
*.pkl
*.model
*.joblib

# Otras extensiones
*.txt

# Archivos específicos
prompt_semilla.md

# Entornos y Python
.venv/
__pycache__/
.pytest_cache/

# MLflow
mlruns/
mlflow.db