# Datos
data/
*.csv
*.parquet

# Modelos carpetas
model/

# Modelos locales
*.pkl
*.model
*.joblib

# Otras extensiones
*.txt
!requirements*.txt

# Archivos específicos
prompt_semilla.md
.env

# Entornos y Python
.venv/
__pycache__/
.pytest_cache/

# MLflow
mlruns/
mlflow.db

# Apache Airflow
plugins/
logs/
